PreciseNode/plugins/PluginData/PreciseNode/config.xml
ActiveTextureManagement/textureCache
toolbar-settings.dat
FerramAerospaceResearch/Plugins/PluginData/FerramAerospaceResearch/config.xml
FerramAerospaceResearch/CustomFARAeroData.cfg
FerramAerospaceResearch/CustomFARAeroStress.cfg
FerramAerospaceResearch/CustomFARPartClassification.cfg
Romfarer/PluginData/
ThunderAerospace/TacLifeSupport/PluginData/TacLifeSupport/LifeSupport.cfg
MechJeb2/Plugins/PluginData/MechJeb2/
ScienceAlert/settings.cfg
TriggerTech/KSPAlternateResourcePanel/settings.cfg
RealChute/RealChute_Settings.cfg
CustomBiomes/PluginData/CustomBiomes/config.xml
Kethane/settings.cfg
TriggerTech/PluginData/KerbalAlarmClock/Alarms-RPL (CAREER).txt
TriggerTech/PluginData/KerbalAlarmClock/config.xml
SimplePartOrganizer/PluginData/
kOS/Plugins/PluginData/
FinalFrontier.dat
Diazo/AGExt/AGExt.cfg
PartCatalog/Plugins/PluginData/PartCatalog/catalog.txt
PartCatalog/Plugins/PluginData/PartCatalog/config.xml
PartCatalog/Plugins/PluginData/PartCatalog/lastParts.txt
PartCatalog/Plugins/PluginData/PartCatalog/partString.lua

