<?xml version="1.0" encoding="utf-8"?>
<config>
    <rect name="WindowPosition">
        <xmin>156</xmin>
        <xmax>506</xmax>
        <ymin>400</ymin>
        <ymax>410</ymax>
    </rect>
    <bool name="WindowMinimized">0</bool>
    <rect name="MapPosition">
        <xmin>553</xmin>
        <xmax>603</xmax>
        <ymin>260</ymin>
        <ymax>270</ymax>
    </rect>
    <bool name="MapMinimized">1</bool>
    <int name="WindowTab">0</int>
    <string name="DefaultSets">Career|Basic;scenarios|Disable;Test|Basic;training|Disable;</string>
</config>